/* @import "@opentiny/icons/style/all.css"; */
@import '@opentiny/vue-theme/dark-theme-index.css';

body {
  color: var(--tv-color-text);
  background-color: var(--tv-color-bg-primary);
  padding: 100px;
}
