/* @import "@opentiny/icons/style/all.css"; */
@import '@opentiny/vue-theme/dark-theme-index.css';

body {
  color: var(--tv-color-text);
  background-color: var(--tv-color-bg-3);
  padding: 100px;
  font-family: -apple-system, HuaweiSans, Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, STHeiti, Microsoft YaHei, Microsoft JhengHei, SimSun, sans-serif;
}

html {
  --docs-color-bg: #fff;
}

html.dark {
  --docs-color-bg: #000;
}
