name: Auto Deploy

on:
  push:
    branches: [main]

  workflow_dispatch:

env:
  # 在 GitHub 项目源码仓库 → 项目的 Settings → Secrets(Actions 里的 Repository secrets) 里提前建好以下变量
  HUAWEI_CLOUD_AK: ${{ secrets.HUAWEI_CLOUD_AK }}
  HUAWEI_CLOUD_SK: ${{ secrets.HUAWEI_CLOUD_SK }}
  HUAWEI_CLOUD_ENDPOINT: ${{ secrets.HUAWEI_CLOUD_ENDPOINT }}
  HUAWEI_CLOUD_BUCKET: ${{ secrets.HUAWEI_CLOUD_BUCKET }}

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: true

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 9
      - name: Install deps
        run: pnpm i
      - name: Build site
        run: pnpm build
      # ===== 2. 下载 obsutil =====
      - name: Install obsutil
        run: |
          curl -o obsutil.tar.gz https://obs-community.obs.cn-north-1.myhuaweicloud.com/obsutil/current/obsutil_linux_amd64.tar.gz
          tar -xzf obsutil.tar.gz
          chmod +x obsutil_linux_amd64_*/obsutil
          sudo mv obsutil_linux_amd64_*/obsutil /usr/local/bin/obsutil

      # ===== 3. 配置并上传 =====
      - name: Upload to OBS
        run: |
          # 一次性配置 AK/SK/endpoint
          obsutil config -i=${{ env.HUAWEI_CLOUD_AK }} \
                         -k=${{ env.HUAWEI_CLOUD_SK }} \
                         -e=${{ env.HUAWEI_CLOUD_ENDPOINT }}

          # 把本地 dist/ 目录整站同步到桶根目录
          mv dist 0.2.0
          ls
          obsutil cp 0.2.0 obs://${{ env.HUAWEI_CLOUD_BUCKET }}/demo-vite/ -r -f
